{%extends 'layout.html'%}
{%block content%}
<div class="container">
	<div class="row">
    		<h2 id="heading" class=" center-align">Trace a Link<i class="material-icons">insert_link</i></h2>
   	</div>
    <div class="row">
    		<h4 id="para" class="center-align"> paste your long URL here</h4>
    </div>
    <form method="post" action="{{url_for('index')}}">
    <div class="row center-align ">
 
    	<div class="input-field">
          <input id="lurl" style="color: white;" pattern="https?://.+" name="lurl" placeholder='Enter your long url' type="url" required class="validate">
          
        </div>
        
        <button class="btn waves-effect waves-light purple" type="submit">Submit
   					 <i class="material-icons right">send</i>
 		 </button>
    </div>
    </form>
    
    {%if data%}   
        <div id="result">
            <h1>Here your tracking   URL</h1>
            <h3 id="data" >{{data}} <a id="copy" onclick="copy()"
                 class="waves-effect waves-light btn"> <i class="material-icons left">
                        content_copy</i>Copy</a></h3> 
            <input id="copytext" value="{{ data }}" type="text">

            <center class='hide-on-med-and-down'><small style="color: #b2bec3; font-family: Monospace">Python anyware free plan doesn't offer custom domain name, learn more at <a href="
            {{url_for('howto')}}#longurl">here</a><br>Bear with me 
            </small></center>  

            <center><small class="hide-on-med-and-up show-on-small"><a href="{{url_for('howto')}}#longurl">why that URL so long?</a></small></center>          
            
        </div>
        <div style="hight:100px;"> <br> <br></div>
        <script>
            function copy() {

                var copyText = document.getElementById("copytext");
                copyText.id = 'visible'
                copyText.select();
                document.execCommand("copy");
                console.log('URL copied ')
                copyText.id='copytext';
                var btntext = document.getElementById('copy');
                btntext.innerHTML = 'Copied';
                btntext.style.backgroundColor = '#f368e0';
                
            }
           
        </script>
           
    {%endif%}


</div>

<footer class="hide-on-med-and-down" style="background-color: #2c3e50; width: 100%; position: fixed; bottom: 0; height: 50px;">
          <center> <p style="color: white; text-transform: uppercase; letter-spacing: 3px">by Naveen Micheal</p></center>
       </footer> 
  <footer class="show-on-small" style="background-color:#2c3e50;position: fixed; "></footer>       
{%endblock content%}

{%block style%}
<style>
#heading{
	margin-bottom: 0;
	color:#ecf0f1;
	font-family: 'Noticia Text', serif;
}
#copytext{
    display: none;
}
#visible{
    display: block;
}

#para{
    font-family: 'Arvo', serif;
    font-size: 18px;
    color: #bdc3c7
}
#result h1{
    padding-top: 10px;
   font-family: 'PT+Sans';
   font-size:45px;
   color: white;
   text-align: center;

}
#result h3{
    font-family:"Thasadith";
    font-size: 35px;
    color:white;
    text-align: center;
    
}
#result{
    height: 220px;
    border-radius: 4px;
    background-color: #2c3e50;
}
#copy{
    margin: 5px;
    color: black;
    font-weight: bold;
}
@keyframes goup {
  from {bottom: 0px;}
  to {top: 30px;}
}

@media only screen and (max-device-width: 480px) {
    #result h1{
    padding-top: 10px;
   font-family: 'PT+Sans';
   font-size:30px;
   color: white;
   text-align: center;

}
    #result h3{
    font-family:"Thasadith";
    font-size: 20px;
    color:white;
    text-align: center;
}
#copy{
    
    display: inline-block;
    color: black;
    font-weight: bold;
}
#lurl:focus{
    background-color:#34495e;
    border:10px;
    border-radius: 5px;
}
#s_url{
    width: 700px;;
}
</style>
{%endblock style%}