{%extends 'layout.html'%}
{%block content%}
<div class="container">
	<div class="row">
    		<h2 id="heading" class=" center-align">lets linking <i class="material-icons">insert_link</i></h2>
   	</div>
    <div class="row">
    		<h4 id="para" class="center-align"> paste your long URL here</h4>
    </div>
    <form method="post" action="{{url_for('index')}}">
    <div class="row center-align ">
 
    	<div class="input-field">
          <input id="lurl"  name="lurl" placeholder='Long URL' type="url" required class="validate">
          
        </div>
        
        <button class="btn waves-effect waves-light purple" type="submit">Submit
   					 <i class="material-icons right">send</i>
 		 </button>
    </div>
    </form>

</div>
{%endblock content%}

{%block style%}
<style>
#heading{
	margin-bottom: 0;
	color:#ecf0f1;
	font-family: 'Noticia Text', serif;
}
#para{
    font-family: 'Arvo', serif;
    font-size: 18px;
    color: #bdc3c7
}
@media only screen and (min-width: 992px){
#lurl{
    width: 700px;
}
}
#lurl:focus{
    background-color:#34495e;
    border:10px;
    border-radius: 5px;
}
</style>
{%endblock style%}