{%extends 'layout.html'%}

{%block content%}
<h1>What is this? </h1>
<h5>URL shortening is a technique on the World Wide Web in which a Uniform Resource Locator may be made substantially shorter and still direct to the required page, and also some analytics purpose. This is achieved by using a redirect which links to the web page that has a long URL</h5>
<br>

<h1>How to use this?</h1>
<h5>You need to enter youyr Long url in Home page, Clik the submit button <br>
i will produe unique shortened URL, it is mapped your real URL, Then just share that link to yout friends</h5> <br>

<h1>How to see Analytics of that particuler link?</h1>
<h5>Add the '+' symbol at the End of shortened URL, It will redirect to statistics page</h5> <br>

<h1 style="color: red">Note</h1>
<h5>We did not use any sign up / login for this service, So that if you lose your shortned URL, You Can't see the Analytics page of that link any more </h5>
<div style="height: 50px;"></div>

<style type="text/css">
	h1, h5{
		text-align: center;
	}
	h1{
		color: white;
	}
	h5{
		color: #bdc3c7;
	}
</style>

{%endblock content%}