<!DOCTYPE html>
<html>
  <head>
    <title>url shortnet</title>
    <link type="text/css" rel="stylesheet" href="/static/materialize.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <!-- Nav-Bar -->
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">URL shortner</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
      </nav>
      
       {%block content%}

       {%endblock content%}     
    <script type="text/javascript" src="/static/materialize.min.js"></script>

  </body>
</html>
      