<!DOCTYPE html>
<html>
  <head>
    <title>url shortner</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='materialize.min.css')}}" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Thasadith" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
      #nav-mobile a{
        padding-right: 30px;
      }
      .sidenav{
        background-color:#576574;

        
      }
      .sidenav li a{
        color: white;
      }
     
     </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text|Unlock" rel="stylesheet">
  </head>
  <body class="blue-grey darken-4">
    <!-- Nav-Bar -->
    <nav>   
        <div class="nav-wrapper grey darken-4">
          <a href="{{url_for('index')}}" style="font-family: 'Noticia Text', serif;" class="brand-logo ">URL shortner</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('howto')}}">How to </a></li>
            <li><a href="{{url_for('feature')}}">What's New</a></li>
            <li><a href="{{url_for('terms')}}">Terms</a></li>
          </ul>
        </div>
      </nav>

      <!-- sideNav-->
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{url_for('about')}}">About</a></li>
      <li><a href="{{url_for('feature')}}">Feature</a></li>
      <li><a href="{{url_for('terms')}}">Terms</a></li>
     <!-- <li><a href="#">Mobile</a></li> -->
  </ul>
      
       {%block content%}
       
       {%endblock content%} 
       {%block style%}
       
       {%endblock style%}
    
       <!-- <br><br><br><br>
       <div  class="page-footer grey darken-4">
        <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
        </div> -->

          <!-- Initialization stuff -->
          <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
            var snav = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(snav, {});
  });
          </script>
    <script type="text/javascript" src="{{url_for('static',filename='materialize.min.js')}}"></script>
    

  </body>
</html>
      